#game {
    .cell {
        -moz-appearance:textfield;
        display: inline-block;
        border: @thin-border solid @game-border-color;
        width: @base-cell-size;
        height: @base-cell-size;
        padding: @cell-padding;
        text-align: center;
        font-size: @base-font-size;
        transition: 0.5s;
        border-radius: 0px;
    }
    .cell::-webkit-outer-spin-button, .cell::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .cell:disabled {
        -webkit-text-fill-color: @disabled-foreground;
        opacity: 1;
    }
    ::selection {
        background: transparent;
    }
    .cell:nth-child(3), .cell:nth-child(6) {
        border-right: @thick-border solid @game-border-color;
    }
    .cell.invalid{
        background: @invalid-background-color;
        color: @invalid-foreground-color;
    }
    .cell.non-editable, {
        color: @disabled-foreground;
        background-color: @disabled-background;
    }
    .cell.invalid:disabled, {
        color: @disabled-invalid-foreground;
        background: @disabled-invalid-background;
        -webkit-text-fill-color: @disabled-invalid-foreground;
    }
    .cell:focus {
        border-color: @focus-cell-border-color;
        background: @focus-cell-background-color;
        color: @focus-cell-foreground-color;
    }
}
@media (max-height: @vertical-break) {
    #game .cell {
        padding: @compact-cell-padding;
    }
}
@media (max-width: @horizontal-break) {
    #game .cell {
        padding: @compact-cell-padding;
        font-size: @compact-font-size;
    }
}


