#game {
    background-color: @game-background-color;
    border: @thick-border solid @game-border-color;
    width: 100%;
    max-width: @max-game-width;
    margin: auto;
    box-sizing: border-box;
}
