body {
  font-family: @font-family;
  font-size: @base-font-size;
  color: @font-color;
  background: @body-bg;
  transition: 0.5s;
}

#content {
  text-align: center;
}

button, a.button {
    border: 1px solid @button-border-color;
    padding: 5px;
    border-radius: 5px;
    background: @button-background-color;
    color: @button-text-color;
    text-decoration: none
}

button.large, a.button.large {
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
}

button:hover, button:focus, a.button:hover, a.button:focus {
    border-color: @button-border-hover-color;
    background: @button-background-hover-color;
}

.text-dialog {
    box-sizing: border-box;
    max-width: @max-winner-width;
    padding: 50px;
    text-align: center;
    background: @game-background-color;
    border: @thick-border solid @game-border-color;
    margin: auto;
}
@media (max-width: @max-winner-width) {
  .text-dialog {
    margin: 0px 20px;
  }
}

