
// General color
@primary: #1FBAD6;

// Fonts
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-size: 16px;
@font-color: #888;

// Body
@body-bg: url('img/body-background.png');

// Buttons
@button-border-color: @primary;
@button-background-color: @primary;
@button-border-hover-color: #21C5E3;
@button-background-hover-color: #168396;
@button-text-color: #fff;

// Logo
@logo-width: 336px;
@logo-margin: 30px auto;
@logo-max-width: 90%;

// Game
@game-background-color: #fff;
@game-border-color: #444;
@game-shadow: 0px 0px 2px rgba(0,0,0,0.5);
@thin-border: 1px;
@thick-border: 3px;
@base-cell-size: 30px;
@cell-padding: 10px;
@invalid-background-color: #DE2175;
@invalid-foreground-color: #fff;
@disabled-foreground: #444;
@disabled-background: #eee;
@disabled-invalid-background: #90154C;
@disabled-invalid-foreground: #fff;
@disabled-invalid-opacity: 0.8;
@focus-cell-border-color: @primary;
@focus-cell-background-color: @primary;
@focus-cell-foreground-color: #fff;

// Small screen adjustments
@compact-cell-padding: 1px;
@compact-font-size: 14px;
@compact-logo-margin: 5px auto;
@compact-logo-width: 180px;

// Winning Dialog
@max-winner-width: 800px;

// Breakpoints
@vertical-break: 650px;
@horizontal-break: 500px;
