// Fonts
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-size: 16px;
@font-color: #444;

// Body
@body-bg: #eee;

// Buttons
@button-border-color: #0F5094;
@button-background-color: #1A63B0;
@button-border-hover-color: #0B3E73;
@button-background-hover-color: #217DDE;
@button-text-color: #fff;

// Game
@game-margin-top: 100px;
@max-game-width: 800px;
@game-background-color: #fff;
@game-border-color: #888;
@thin-border: 1px;
@thick-border: 3px;
@base-cell-size: 30px;
@cell-padding: 10px;
@invalid-background-color: #BD3328;
@invalid-foreground-color: #fff;
@disabled-foreground: #888;
@disabled-invalid-foreground: #fff;
@disabled-invalid-opacity: 0.8;
@focus-cell-border-color: #0A3664;
@focus-cell-background-color: #13477D;
@focus-cell-foreground-color: #fff;
