#winner-dialog {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomFade;
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}
